@model List<BL.Classes.Emp>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Basic Salary</th>
                <th scope="col">#Attended</th>
                <th scope="col">#Absence</th>
                <th scope="col">#overtime</th>
                <th scope="col">#Discount</th>
                <th scope="col">overtime</th>
                <th scope="col">deductions</th>
                <th scope="col">Net salary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@item.Name</td>
                    <td>@item.Salary</td>
                    <td>@(ViewBag.salaryreport.GetAttendedDays(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.GetAbsenceDays(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.Getovertime(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.Getdeductiontime(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.GetAmountOfOvertime(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.GetAmountOfDeductiontime(@item.Id, ViewBag.month, ViewBag.year))</td>
                    <td>@(ViewBag.salaryreport.GetNetSalary(@item.Id, ViewBag.month, ViewBag.year))</td>


                </tr>
                index = index + 1;
            }
        </tbody>
    </table>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
